/* 
 * Correct the line height in all browsers.
 * Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
* Remove the margin in all browsers.
*/

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: arial;
}

/*
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}
